		<header>
			<div class="container clearfix">
				<div class="row-fluid">
					<div class="span12">
						<h1 class="brandlogo">
							<a href="${ctx}/"><img src="_files/img/logo.png" alt=""></a>
						</h1>
						<div class="topinfo">
							<div class="infophone">
								<p></p>
								<br>
								<p></p>
							</div>
							<div class="infoaddress">
								<p style="padding-top: 10px;">
									[#assign node_count=0 /]
									[@NodePage parentId=86 pageSize=5 page=1;list]
										[#list list.content as cnode]
											[#assign node_count=node_count+1 /]
											<a class="text-info" href="${cnode.url}">${cnode.name}</a>[#if node_count < 5] |[#else]<br>[/#if] 
										[/#list]
									[/@NodePage]
									[#assign node_count=0 /]
									[@NodePage parentId=86 pageSize=5 page=2;list]
										[#list list.content as cnode]
											[#assign node_count=node_count+1 /]
											<a class="text-info" href="${cnode.url}">${cnode.name}</a>[#if node_count < 5] |[#else]<br>[/#if] 
										[/#list]
									[/@NodePage]
								</p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="row-nav navbar">
							<div class="navbar-inner">
								<ul id="nav" class="nav">
									[@NodeList parentId=85;list]
							        	<li class="[#if node??&&node.id=1]active[/#if]" id="node_header_index"><a href='${ctx}/'>首页</a></li>  
										[#list list as cnode]
											<li class="divider-vertical"></li>
											[#if (cnode.children?size>0 && cnode.id != 79) ]
							 		 			<li class="dropdown" id="node_header_${cnode.id}"><a href="${cnode.url}" class="dropdown-toggle" data-toggle="dropdown">${cnode.name} <b class="caret"></b></a>
							 		 				<ul class="dropdown-menu js-activated" style="display: none;">
								 		 			[#list cnode.children as n]
								 		 				<li><a href="${n.url}">${n.name}</a></li>
								 		 				[#if node??&&n.id=node.id][#assign node_header_active=cnode.id /][/#if]
								 		 			[/#list]
								 		 			</ul>
							 		 			</li>
						 		 			[#else]
						 		 				<li class="[#if node??&&node.id=cnode.id]active[/#if]" id="node_header_${cnode.id}"><a href="${cnode.url}">${cnode.name}</a></li>
						 		 			[/#if]
										[/#list]
									[/@NodeList]
											<li class="divider-vertical"></li>
								</ul>
								<form id="search" action="${ctx}/search.jspx" method="GET">
									<input type="text" id="s_q"
										onfocus="if(this.value =='查找新闻' ) this.value=''"
										onblur="if(this.value=='') this.value='查找新闻'" [#if q_value??]value="${q_value}"[#else]value="查找新闻"[/#if]
										name="q"> <a href="#" onclick="submit_search();"></a>
										 <script type="text/javascript">
										 	function submit_search(){
										 		if($('#s_q').val() == "查找清真餐饮企业"){
										 			$('#s_q').val('');
										 		}
									 			$('#search').submit();
										 	}
										 </script>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>