<div class="span9 news-c">
	<div class="text-center2">
		<div class="page-header">
			<h1>${node.name}</h1>
			<div class="headerdivider"></div>
		</div>
		<div class="newContent">
			<!-- 表格列表 -->
			<table class="table table-hover">
				[@InfoPage nodeId=node.id pageSize=12;pagedList]
					[#list pagedList.content as info]
						<tr>
							<td>
								<i class="icon-file-text-alt"></i>
								<a href="${info.url}" class="list_title" target="_blank">${info.title}</a>
								<small class="time-right">${info.publishDate?string('yyyy-MM-dd')}</small>
							</td>
						</tr>
					[/#list]
				[/@InfoPage]
			</table>
			<!-- 分页 -->
			[@InfoPage nodeId=node.id pageSize=12;pagedList]
				[#include "inc_page.html"/]
			[/@InfoPage]
		</div>
	</div>
</div>