<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>国家级新疆准东经济技术开发区官网</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<!-- Le styles -->
<link href="_files/css/bootstrap.css" rel="stylesheet">
<link href="_files/css/style.css" rel="stylesheet">
<link href="_files/css/camera.css" rel="stylesheet">
<link href="_files/css/icons.css" rel="stylesheet">
<link href="_files/css/skin-orange.css" rel="stylesheet" id="main-color"
	media="screen" />
<link href="_files/css/bootstrap-responsive.css" rel="stylesheet">
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="_files/js/html5shiv.js"></script>
    <![endif]-->
<!-- Fav and touch icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144"
	href="_files/img/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114"
	href="_files/img/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72"
	href="_files/img/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed"
	href="_files/img/ico/apple-touch-icon-57-precomposed.png">
<link rel="shortcut icon" href="_files/img/ico/favicon.png">
</head>
<body data-spy="scroll" data-target=".main_h" class="boxed">
	<header class="main_h">
		<div class="container">
			<div class="row">
				<img src="_files/img/logo.png" class="toplogo" alt="" />
				<div class="mobile-toggle">
					<span></span> <span></span> <span></span>
				</div>
				<nav>
					<ul class="nav" style="text-align: right; padding-right: 40px;">
						<li><a href="index.html">首页</a></li>
						<li><a href="about.html">关于准东</a></li>
						<li><a href="Industry.html">经济发展</a></li>
						<li><a href="Build.html">园区规划</a></li>
						<li><a href="Investment.html">招商引资</a></li>
						<li><a href="Company.html">园区企业</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<div class="body" style="width: 100%;">
		<!-- Navigation -->
		<header>
			<div class="tophtml">
				<div class="container">
					<p style="color: #729DC0;">
						<span style="float: right; text-align: right;"> <a href="#">添加收藏</a>
							| <a href="#">设为首页</a> | <a href="login2.html">登录</a></span>
					</p>
				</div>
			</div>
			<div class="container clearfix">
				<div class="row-fluid">
					<div class="span12">
						<h1 class="brandlogo">
							<a href="index.html"><img src="_files/img/logo.png" alt=""></a>
						</h1>
						<div class="topinfo">
							<div class="infophone">
								<p></p>
								<br>
								<p></p>
							</div>
							<div class="infoaddress">
								<p style="padding-top: 10px;">
									<a class="text-info" href="list.html">准东新闻</a> | <a
										class="text-info" href="list.html">通知公告</a> | <a
										class="text-info" href="list.html">经济发展</a> | <a
										class="text-info" href="list.html">党群建设</a> | <a
										class="text-info" href="list.html">政务公示</a><br> <a
										class="text-info" href="list.html">法律服务</a> | <a
										class="text-info" href="list.html">环保事务</a> | <a
										class="text-info" href="list.html">干部培训</a> | <a
										class="text-info" href="list.html">安全生产</a> | <a
										class="text-info" href="list.html">网上办事</a>
								</p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="row-nav navbar">
							<div class="navbar-inner">
								<ul id="nav" class="nav">
									<li class="active selected"><a href="index.html">首页</a></li>
									<li class="divider-vertical"></li>
									<li class="dropdown"><a href="#" class="dropdown-toggle"
										data-toggle="dropdown">关于准东 <b class="caret"></b></a>
										<ul class="dropdown-menu js-activated" style="display: none;">
											<li><a href="about.html">准东概况</a></li>
											<li><a href="geography.html">地理资源</a></li>
											<li><a href="infrastructure.html">基础建设</a></li>
											<li><a href="organizational.html">组织架构</a></li>
											<!--.dropdown-->
										</ul></li>
									<li class="divider-vertical"></li>
									<li class="dropdown"><a href="#" class="dropdown-toggle"
										data-toggle="dropdown">经济发展 <b class="caret"></b></a>
										<ul class="dropdown-menu js-activated" style="display: none;">
											<li><a href="404.html">煤炭产业</a></li>
											<li><a href="404.html">煤电产业</a></li>
											<li><a href="404.html">煤化工产业</a></li>
											<li><a href="404.html">煤电冶产业</a></li>
											<li><a href="404.html">煤制天然气</a></li>
											<li><a href="404.html">新材料产业</a></li>
											<li><a href="404.html">光伏产业</a></li>
											<!--.dropdown-->
										</ul></li>
									<li class="divider-vertical"></li>
									<li class="dropdown"><a href="#" class="dropdown-toggle"
										data-toggle="dropdown">园区规划 <b class="caret"></b></a>
										<ul class="dropdown-menu js-activated" style="display: none;">
											<li><a href="404.html">规划体系</a></li>
											<li><a href="404.html">发展目标</a></li>
											<li><a href="404.html">重大决策</a></li>
											<li><a href="404.html">世界铝都计划</a></li>
											<!--.dropdown-->
										</ul></li>
									<li class="divider-vertical"></li>
									<li class="dropdown"><a href="#" class="dropdown-toggle"
										data-toggle="dropdown">招商引资 <b class="caret"></b></a>
										<ul class="dropdown-menu js-activated" style="display: none;">
											<li><a href="404.html">投资优势</a></li>
											<li><a href="404.html">优惠政策</a></li>
											<li><a href="404.html">招商项目</a></li>
											<!--.dropdown-->
										</ul></li>
									<li class="divider-vertical"></li>
									<li class="dropdown"><a href="#" class="dropdown-toggle"
										data-toggle="dropdown">园区企业 <b class="caret"></b></a>
										<ul class="dropdown-menu js-activated" style="display: none;">
											<li><a href="404.html">企业目录</a></li>
											<li><a href="404.html">企业新闻</a></li>
											<li><a href="404.html">企业产品</a></li>
											<!--.dropdown-->
										</ul></li>
									<li class="divider-vertical"></li>
								</ul>
								<form id="search" action="#" method="GET">
									<input type="text"
										onfocus="if(this.value =='查找新闻' ) this.value=''"
										onblur="if(this.value=='') this.value='查找新闻'" value="查找新闻"
										name="s"> <a href="#"></a>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- /end header -->
		<div class="container">
			<div class="row-fluid bannerbg">
				<div class="camera_wrap pattern_4 camera_emboss span8"
					id="camera_wrap_4">
					<div data-src="_files/img/demo/1.jpg"></div>
					<div data-src="_files/img/demo/2.jpg"></div>
					<div data-src="_files/img/demo/3.jpg"></div>
					<div data-src="_files/img/demo/4.jpg"></div>
				</div>
				<div class=" span4 rightnews">
					<h4>要闻 NEW</h4>
					<ol class="news_li">
						<li><a href="news.html" class="text-info">新疆交通建设管理局暨设计院调研组一行赴准东调研…</a>
							<samp>2015-05-12</samp></li>
						<li><a href="news.html" class="text-info">新疆交通建设管理局暨设计院调研…</a>
							<samp>2015-05-12</samp></li>
						<li><a href="news.html" class="text-info">新疆交通建设管理局暨设计院管理局暨设计院调研组一行赴准行赴准东调研…</a>
							<samp>2015-05-12</samp></li>
						<li><a href="news.html" class="text-info">新疆交通建设管理局暨管理局暨设计院调研组一行赴准东调研…</a>
							<samp>2015-05-12</samp></li>
						<li><a href="news.html" class="text-info">新疆交通建设管理赴准东调研…</a>
							<samp>2015-05-12</samp></li>
					</ol>
				</div>
			</div>
			<!--新闻-->
			<div id="content">
				<div class="boxportfolio3">
					<div class="inneritem" style="padding: 0; border: 0;">
						<h1 class="faqstitle">
							<span class="icon-tasks"></span> 准东新闻
						</h1>
						<div class="faqs">
							<ul>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">自治区安监局就开生产工作提七点要……</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">魅力准东·舞动青春”啦啦操比赛”</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">关于羽毛球队队员招募的通知 ……</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">中石化准东80亿方/年煤制气项目自建供水</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">准东支线机场选址初步确定</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">准东开发区加快推进“疆电外送”</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">准东开发区召开循环经济试点园区谈会</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">准东开发区加快推进“疆电外送”</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="boxportfolio3">
					<div class="inneritem" style="padding: 0; border: 0;">
						<h1 class="faqstitle">
							<span class="icon-tasks"></span> 通知公告
						</h1>
						<div class="faqs">
							<ul>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">自治区安监局就开生产工作提七点要……</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">魅力准东·舞动青春”啦啦操比赛”</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">关于羽毛球队队员招募的通知 ……</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">中石化准东80亿方/年煤制气项目自建供水</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">准东支线机场选址初步确定</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">准东开发区加快推进“疆电外送”</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">准东开发区召开循环经济试点园区谈会</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">准东开发区加快推进“疆电外送”</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="boxportfolio3">
					<div class="inneritem" style="padding: 10px 0 0 0; border: 0;">
						<div class="faqs faqsRight">
							<div class="titleborder">
								<span class="icon-list-alt"></span> 政务公开
							</div>
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tbody>
									<tr>
										<td>
											<ul class="rightOne">
												<li><a href="organizational.html" target="_blank"><img
														src="_files/img/001.png" alt="" /></a>
												<h6>组织架构</h6></li>
												<li><a href="report.html" target="_blank"><img
														src="_files/img/002.png" alt="" /></a>
												<h6>工作报告</h6></li>
												<li><a href="listSJTJ.html" target="_blank"><img
														src="_files/img/003.png" alt="" /></a>
												<h6>统计数据</h6></li>
												<li><a href="ledMail.html" target="_blank"><img
														src="_files/img/004.png" alt="" /></a>
												<h6>领导信箱</h6></li>
												<li><a href="user_enterprises.html" target="_blank"><img
														src="_files/img/005.png" alt="" /></a>
												<h6>企业入驻申请</h6></li>
												<li><a href="supervision.html" target="_blank"><img
														src="_files/img/006.png" alt="" /></a>
												<h6>公众监督</h6></li>
											</ul>
										</td>
									</tr>
								</tbody>
							</table>
							<div class="consultation">
								<a href="consult.html"><p class="conBg">
										<span class=" icon icon-comments"></span> <span
											class="textTile">我要咨询</span>
									</p></a> <a href="proposal.html"><p class="conBg">
										<span class="icon icon-file-text"></span> <span
											class="textTile">我要建议</span>
									</p></a> <a href="helpMe.html"><p class="conBg">
										<span class="icon icon-phone"></span> <span class="textTile">我要求助</span>
									</p></a> <a href="complaint.html"><p class="conBg">
										<span class="icon icon-bell-alt"></span> <span
											class="textTile">我要投诉</span>
									</p></a>
							</div>
						</div>
					</div>
				</div>
				<div class="boxportfolio3">
					<div class="inneritem" style="padding: 0; border: 0;">
						<h1 class="faqstitle">
							<span class="icon-tasks"></span> 党政建设
						</h1>
						<div class="faqs">
							<ul>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">自治区安监局就开生产工作提七点要……</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">魅力准东·舞动青春”啦啦操比赛”</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">关于羽毛球队队员招募的通知 ……</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">中石化准东80亿方/年煤制气项目自建供水</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">准东支线机场选址初步确定</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">准东开发区加快推进“疆电外送”</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">准东开发区召开循环经济试点园区谈会</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">准东开发区加快推进“疆电外送”</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="boxportfolio3">
					<div class="inneritem" style="padding: 0; border: 0;">
						<h1 class="faqstitle">
							<span class="icon-tasks"></span> 经济发展
						</h1>
						<div class="faqs">
							<ul>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">自治区安监局就开生产工作提七点要……</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">魅力准东·舞动青春”啦啦操比赛”</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">关于羽毛球队队员招募的通知 ……</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">中石化准东80亿方/年煤制气项目自建供水</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">准东支线机场选址初步确定</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">准东开发区加快推进“疆电外送”</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">准东开发区召开循环经济试点园区谈会</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">准东开发区加快推进“疆电外送”</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- Carousel List
	================================================== -->
			<div class="left422">
				<div class="titleborder ">
					<div>图解准东</div>
				</div>
				<div class="row-fluid ">
					<div class="span12">
						<div class="list_carousel">
							<div class="carousel_nav">
								<a class="prev" id="car_prev" href="#"><span>prev</span></a> <a
									class="next" id="car_next" href="#"><span>next</span></a>
							</div>
							<div class="clearfix"></div>
							<div class="heightauto">
								<ul id="recent-projects" class="heightauto">
									<!--featured-projects 1-->
									<li>
										<div class="featured-projects">
											<div class="featured-projects-image">
												<a href="#"><img src="_files/img/demo/ps001.jpg"
													class="imgOpa" alt=""></a>
											</div>
											<div class="featured-projects-content">
												<h1>
													<a href="#">宜化</a>
												</h1>
											</div>
										</div>
									</li>
									<!--featured-projects 2-->
									<li>
										<div class="featured-projects">
											<div class="featured-projects-image">
												<a href="#"><img src="_files/img/demo/ps002.jpg"
													class="imgOpa" alt=""></a>
											</div>
											<div class="featured-projects-content">
												<h1>
													<a href="#">露天煤矿</a>
												</h1>
											</div>
										</div>
									</li>
									<!--featured-projects 3-->
									<li>
										<div class="featured-projects">
											<div class="featured-projects-image">
												<a href="#"><img src="_files/img/demo/ps003.jpg"
													class="imgOpa" alt=""></a>
											</div>
											<div class="featured-projects-content">
												<h1>
													<a href="#">水库</a>
												</h1>
											</div>
										</div>
									</li>
									<!--featured-projects 4-->
									<li>
										<div class="featured-projects">
											<div class="featured-projects-image">
												<a href="#"><img src="_files/img/demo/ps004.jpg"
													class="imgOpa" alt=""></a>
											</div>
											<div class="featured-projects-content">
												<h1>
													<a href="#">展览中心</a>
												</h1>
											</div>
										</div>
									</li>
									<!--featured-projects 5-->
									<li>
										<div class="featured-projects">
											<div class="featured-projects-image">
												<a href="#"><img src="_files/img/demo/ps005.jpg"
													class="imgOpa" alt=""></a>
											</div>
											<div class="featured-projects-content">
												<h1>
													<a href="#">铁路</a>
												</h1>
											</div>
										</div>
									</li>
									<!--featured-projects 6-->
									<li>
										<div class="featured-projects">
											<div class="featured-projects-image">
												<a href="#"><img src="_files/img/demo/ps006.jpg"
													class="imgOpa" alt=""></a>
											</div>
											<div class="featured-projects-content">
												<h1>
													<a href="#">铁路设施</a>
												</h1>
											</div>
										</div>
									</li>
									<!--featured-projects 7-->
									<li>
										<div class="featured-projects">
											<div class="featured-projects-image">
												<a href="#"><img src="_files/img/demo/ps007.jpg"
													class="imgOpa" alt=""></a>
											</div>
											<div class="featured-projects-content">
												<h1>
													<a href="#">公路工程</a>
												</h1>
											</div>
										</div>
									</li>
									<!--featured-projects 8-->
									<li>
										<div class="featured-projects">
											<div class="featured-projects-image">
												<a href="#"><img src="_files/img/demo/ps008.jpg"
													class="imgOpa" alt=""></a>
											</div>
											<div class="featured-projects-content">
												<h1>
													<a href="#">铁路设施</a>
												</h1>
											</div>
										</div>
									</li>
									<!--featured-projects 9-->
									<li>
										<div class="featured-projects">
											<div class="featured-projects-image">
												<a href="#"><img src="_files/img/demo/ps009.jpg"
													class="imgOpa" alt=""></a>
											</div>
											<div class="featured-projects-content">
												<h1>
													<a href="#">铁路运输</a>
												</h1>
											</div>
										</div>
									</li>
									<!--featured-projects 10-->
									<li>
										<div class="featured-projects">
											<div class="featured-projects-image">
												<a href="#"><img src="_files/img/demo/ps010.jpg"
													class="imgOpa" alt=""></a>
											</div>
											<div class="featured-projects-content">
												<h1>
													<a href="#">其亚铝业</a>
												</h1>
											</div>
										</div>
									</li>
									<!--featured-projects 11-->
									<li>
										<div class="featured-projects">
											<div class="featured-projects-image">
												<a href="#"><img src="_files/img/demo/ps011.jpg"
													class="imgOpa" alt=""></a>
											</div>
											<div class="featured-projects-content">
												<h1>
													<a href="#">神火煤电</a>
												</h1>
											</div>
										</div>
									</li>
									<!--featured-projects 12-->
									<li>
										<div class="featured-projects">
											<div class="featured-projects-image">
												<a href="#"><img src="_files/img/demo/ps012.jpg"
													class="imgOpa" alt=""></a>
											</div>
											<div class="featured-projects-content">
												<h1>
													<a href="#">神火煤电</a>
												</h1>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END Carousel List -->
			<!--第二区新闻-->
			<div id="content">
				<div class="boxportfolio3">
					<div class="inneritem" style="padding: 0; border: 0;">
						<h1 class="faqstitle">
							<span class="icon-tasks"></span> 法律服务
						</h1>
						<div class="faqs">
							<ul>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">自治区安监局就开生产工作提七点要……</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">魅力准东·舞动青春”啦啦操比赛”</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">关于羽毛球队队员招募的通知 ……</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">中石化准东80亿方/年煤制气项目自建供水</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">准东支线机场选址初步确定</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">准东开发区加快推进“疆电外送”</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">准东开发区召开循环经济试点园区谈会</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">准东开发区加快推进“疆电外送”</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="boxportfolio3">
					<div class="inneritem" style="padding: 0; border: 0;">
						<h1 class="faqstitle">
							<span class="icon-tasks"></span> 金融服务
						</h1>
						<div class="faqs">
							<ul>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">自治区安监局就开生产工作提七点要……</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">魅力准东·舞动青春”啦啦操比赛”</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">关于羽毛球队队员招募的通知 ……</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">中石化准东80亿方/年煤制气项目自建供水</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">准东支线机场选址初步确定</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">准东开发区加快推进“疆电外送”</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">准东开发区召开循环经济试点园区谈会</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">准东开发区加快推进“疆电外送”</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="boxportfolio3">
					<div class="inneritem" style="padding: 0; border: 0;">
						<h1 class="faqstitle">
							<span class="icon-tasks"></span> 环保事务
						</h1>
						<div class="faqs">
							<ul>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">自治区安监局就开生产工作提七点要……</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">魅力准东·舞动青春”啦啦操比赛”</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">关于羽毛球队队员招募的通知 ……</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">中石化准东80亿方/年煤制气项目自建供水</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">准东支线机场选址初步确定</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">准东开发区加快推进“疆电外送”</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">准东开发区召开循环经济试点园区谈会</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">准东开发区加快推进“疆电外送”</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!--广告区（03）-->
			<div class="row-fluid" style="display: none;">
				<div class="span12 zdad">
					<p>广告招商：400-88888888</p>
				</div>
			</div>
			<!--第三区新闻-->
			<div id="content">
				<div class="boxportfolio3">
					<div class="inneritem" style="padding: 0; border: 0;">
						<h1 class="faqstitle">
							<span class="icon-tasks"></span> 政务公示
						</h1>
						<div class="faqs">
							<ul>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">自治区安监局就开生产工作提七点要……</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">魅力准东·舞动青春”啦啦操比赛”</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">关于羽毛球队队员招募的通知 ……</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">中石化准东80亿方/年煤制气项目自建供水</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">准东支线机场选址初步确定</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">准东开发区加快推进“疆电外送”</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">准东开发区召开循环经济试点园区谈会</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">准东开发区加快推进“疆电外送”</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="boxportfolio3">
					<div class="inneritem" style="padding: 0; border: 0;">
						<h1 class="faqstitle">
							<span class="icon-tasks"></span> 网上办事
						</h1>
						<div class="faqs">
							<ul class="systemUl">
								<li><a href="land-work.html"><p class="iconss">
											<span class="icon-home"></span>
										</p>
										<p class="textss">国土资源网上办事</p></a></li>
								<li><a href="item-statistics.html"><p class="iconss">
											<span class="icon-file"></span>
										</p>
										<p class="textss">项目申报和统计</p></a></li>
								<li><a href="work-safety.html"><p class="iconss">
											<span class="icon-shield"></span>
										</p>
										<p class="textss">安全生产监督</p></a></li>
								<li><a href="environmental.html"><p class="iconss">
											<span class="icon-leaf"></span>
										</p>
										<p class="textss">环境保护监察</p></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="boxportfolio3">
					<div class="inneritem" style="padding: 0; border: 0;">
						<h1 class="faqstitle">
							<span class="icon-tasks"></span> 干部培训
						</h1>
						<div class="faqs">
							<ul>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">自治区安监局就开生产工作提七点要……</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">魅力准东·舞动青春”啦啦操比赛”</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">关于羽毛球队队员招募的通知 ……</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">中石化准东80亿方/年煤制气项目自建供水</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">准东支线机场选址初步确定</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">准东开发区加快推进“疆电外送”</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">准东开发区召开循环经济试点园区谈会</a></li>
								<li><span class="icon-file-text-alt"></span> <a
									href="news.html" class="muted">准东开发区加快推进“疆电外送”</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row-fluid">
				<div class="inneritem" style="padding: 0; border: 0;">
					<h1 class="faqstitle">
						<span class="icon-tasks"></span> 政务网址大全
					</h1>
					<div class="faqs">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tbody>
								<tr>
									<td>
										<ul>
											<li class="span3">
												<p style="margin: 0;">
													<a href="#" class="muted">昌吉州人力资源社会保障厅</a>
												</p>
												<p style="margin: 0;">
													<a href="#" class="muted">自治区商务厅</a>
												</p>
												<p style="margin: 0;">
													<a href="#" class="muted">自治区国土资源厅</a>
												</p>
												<p style="margin: 0;">
													<a href="#" class="muted">自治区人力资源社会保障厅</a>
												</p>
												<p style="margin: 0;">
													<a href="#" class="muted">自治区城乡建设厅</a>
												</p>
												<p style="margin: 0;">
													<a href="#" class="muted">自治区环境保护厅</a>
												</p>
											</li>
											<li class="span3">
												<p style="margin: 0;">
													<a href="#" class="muted">自治区交通运输厅</a>
												</p>
												<p style="margin: 0;">
													<a href="#" class="muted">自治区经济和信息化委员会</a>
												</p>
												<p style="margin: 0;">
													<a href="#" class="muted">西部庭州</a>
												</p>
												<p style="margin: 0;">
													<a href="#" class="muted">昌吉州安监局</a>
												</p>
												<p style="margin: 0;">
													<a href="#" class="muted">新疆维吾尔自治区发改委</a>
												</p>
												<p style="margin: 0;">
													<a href="#" class="muted">昌吉州经济和信息化委员会</a>
												</p>
											</li>
											<li class="span3">
												<p style="margin: 0;">
													<a href="#" class="muted">木垒县政府网</a>
												</p>
												<p style="margin: 0;">
													<a href="#" class="muted">奇台县政府网</a>
												</p>
												<p style="margin: 0;">
													<a href="#" class="muted">昌吉国家农业科技园区</a>
												</p>
												<p style="margin: 0;">
													<a href="#" class="muted">新疆维吾尔自治区安监局</a>
												</p>
												<p style="margin: 0;">
													<a href="#" class="muted">阜康市政府网</a>
												</p>
												<p style="margin: 0;">
													<a href="#" class="muted">昌吉州商务局</a>
												</p>
											</li>
											<li class="span3">
												<p style="margin: 0;">
													<a href="#" class="muted">新疆维吾尔自治区经信委</a>
												</p>
												<p style="margin: 0;">
													<a href="#" class="muted">新疆维吾尔自治区财政厅</a>
												</p>
											</li>
										</ul>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- FOOTER BEGIN
================================================== -->
		<div class="footer footerdark">
			<div class="text-center wraptotop">
				<a class="totop"><i class="icon-chevron-up"></i></a>
			</div>
			<div class="container">
				<!-- 1st row -->
				<div class="row-fluid">
					<div class="span4">
						<h1 class="title">
							<i class="icon-heart"></i> 关于我们
						</h1>
						<hr>
						<p>
							公路、铁路、供水、供电、通信五大骨干基础设施一期工程已完工投运，二期全面开始建设。公路方面：新建总长138公里准东Z917主干公路全线通车，基本形成以国道216
							……[ 详细内容 ]</p>
					</div>
					<div class="span4">
						<h1 class="title">
							<i class="icon-phone-sign"></i> 联系我们
						</h1>
						<hr>
						<p>
							联系地址：新疆昌吉州准东五彩湾管委会<br> 联系电话：0994-6738626 <br>
						</p>
					</div>
					<div class="span4 lookme">
						<h1 class="title">
							<i class="icon-qrcode"></i> 关注我们
						</h1>
						<hr>
						<ul>
							<li>
								<p>
									<img src="_files/img/zdljl.jpg" style="width: 100px;" alt="" />
								</p>
								<p style="font-size: 12px; color: #FFFFFF;">准东开发区零距离</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- 2nd row -->
		<div class="footerbottom footerbottomdark">
			<div class="container">
				<div class="row-fluid">
					<!-- left -->
					<div class="span4 smallspacetop">
						<p class="smaller">
							<span class="copyright">© </span> Copyright 2015
							国家级新疆准东经济技术开发区管理委员会
						</p>
					</div>
					<!-- right -->
					<div class="span8 smallspacetop">
						<div class="pull-right smaller">
							<ul class="footermenu">
								<li><a href="#">进入企业邮箱</a></li>
								<li><a href="#">进入办公OA系统</a></li>
								<li><a
									href="http://101.200.173.151/klml/新疆准东官网2015年改版之栏目结构设置.pdf">栏目结构</a></li>
							</ul>
						</div>
						<div class="clearfix"></div>
					</div>
					<!-- end right -->
				</div>
			</div>
		</div>
		<!-- FOOTER END
================================================== -->
	</div>
	<!-- /.body -->
	<!-- Le javascript ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="_files/js/jquery.js"></script>
	<script src="_files/js/bootstrap.js"></script>
	<script src="_files/js/plugins.js"></script>
	<script src="_files/js/custom.js"></script>
	<script src="_files/js/common.js"></script>
	<script src="_files/js/weixin.js"></script>
	<!-- CALL CAMERA SLIDER -->
	<script>
		jQuery(function() {
			jQuery('#camera_wrap_4').camera({
				height : 'auto',
				loader : 'bar',
				pagination : false,
				thumbnails : false,
				hover : true,
				opacityOnGrid : false,
				fx : 'random',
				transPeriod : 1500,
				time : 7000,
				overlayer : true,
				imagePath : '_files/img/'
			});
		});
	</script>
	<!-- CALL FEATURED WORK -->
	<script type="text/javascript">
		$(window).load(function() {
			$('#recent-projects').carouFredSel({
				responsive : true,
				width : '100%',
				auto : true,
				circular : true,
				infinite : false,
				prev : {
					button : "#car_prev",
					key : "left",
				},
				next : {
					button : "#car_next",
					key : "right",
				},
				swipe : {
					onMouse : true,
					onTouch : true
				},
				scroll : 1500,
				items : {
					visible : {
						min : 1,
						max : 1
					}
				}
			});
		});
	</script>
	<!-- CALL ACCORDION -->
	<script type="text/javascript">
		$(".accordion h3").eq(0).addClass("active");
		$(".accordion .accord_cont").eq(0).show();
		$(".accordion h3").click(
				function() {
					$(this).next(".accord_cont").slideToggle("slow").siblings(
							".accord_cont:visible").slideUp("slow");
					$(this).toggleClass("active");
					$(this).siblings("h3").removeClass("active");
				});
	</script>
	<!-- Call opacity on hover images from recent news-->
	<script type="text/javascript">
		$(document).ready(function() {
			$("img.imgOpa").hover(function() {
				$(this).stop().animate({
					opacity : "0.6"
				}, 'slow');
			}, function() {
				$(this).stop().animate({
					opacity : "1.0"
				}, 'slow');
			});
		});
	</script>
	<!--BEGIN DEMO PANEL
================================================== -->
	<!--瀑布流-->
	<script>
		$(window).load(function() {
			var $container = $('#content')
			// initialize Isotope
			$container.isotope({
				// options...
				resizable : false, // disable normal resizing
				// set columnWidth to a percentage of container width
				masonry : {
					columnWidth : $container.width() / 3
				}
			});
			// update columnWidth on window resize
			$(window).smartresize(function() {
				$container.isotope({
					// update columnWidth to a percentage of container width
					masonry : {
						columnWidth : $container.width() / 3
					}
				});
			});
		});
	</script>
	<!-- Call opacity on hover images from carousel-->
	<script type="text/javascript">
		$(window).load(function() {
			$('#recent-projects').carouFredSel({
				responsive : true,
				width : '100%',
				auto : true,
				circular : true,
				infinite : false,
				prev : {
					button : "#car_prev",
					key : "left",
				},
				next : {
					button : "#car_next",
					key : "right",
				},
				swipe : {
					onMouse : true,
					onTouch : true
				},
				scroll : 1500,
				items : {
					visible : {
						min : 4,
						max : 4
					}
				}
			});
		});
	</script>
	<!-- 代码开始 -->
	<div id="code"></div>
	<div id="code_img"></div>
	<a id="gotop" href="javascript:void(0)"></a>
	<!-- 代码结束 -->
</body>
</html>