[#escape x as (x)!?html]
<!DOCTYPE html>
<html lang="en">
<head>
<title>${info.title} - ${site.fullNameOrName}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="${info.title},${site.fullNameOrName}">
<meta name="description" content="${info.title},${site.fullNameOrName}">
<meta name="author" content="${site.fullNameOrName}">
<!-- Le styles -->
<script src="http://api.map.baidu.com/components?ak=NaV8UEbxNpj6qIq6cT3itOhC&v=1.0"></script>
<script src="_files/js/jquery.js"></script>
<link href="_files/css/bootstrap.css" rel="stylesheet">
<link href="_files/css/style.css" rel="stylesheet">
<link href="_files/css/camera.css" rel="stylesheet">
<link href="_files/css/icons.css" rel="stylesheet">
<link rel="stylesheet" id="main-color" href="_files/css/skin-teal.css"
	media="screen" />
<link href="_files/css/bootstrap-responsive.css" rel="stylesheet">
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="_files/js/html5shiv.js"></script>
    <![endif]-->
<!-- Fav and touch icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144"
	href="_files/img/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114"
	href="_files/img/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72"
	href="_files/img/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed"
	href="_files/img/ico/apple-touch-icon-57-precomposed.png">
<link rel="shortcut icon" href="_files/img/ico/favicon.png">
</head>
<body data-spy="scroll" data-target=".main_h" class="boxed">
	<!-- 此模板为带左边栏目的内容页 -->
	<!-- 顶部隐藏导航 -->
	[#include "inc_top.html" /]
	<div class="body">
		[#include "inc_header.html"/]
		<div class="container">
			<div class="row-fluid">
				<div class="text-center">
					<img src="_files/img/sha.png" class="slidershadow" alt="">
				</div>
			</div>
			<div class="row-fluid">
				[#include "inc_left_node.html"]
				<div class="span9">
					<ul class="breadcrumb" style="margin-bottom: 5px;">
						[#list node.hierarchy as n]
							<li><a href="${n.url}">${n.name}</a><span class="divider">/</span></li>
						[/#list]
						<li class="active">正文</li>
					</ul>
					[#include "inc_info.html"]
				</div>
			</div>
		</div>
		[#include "inc_footer.html" /]
	</div>
	<script src="_files/js/bootstrap.js"></script>
	<script src="_files/js/plugins.js"></script>
	<script src="_files/js/custom.js"></script>
	<script src="_files/js/common.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$("#node_${node.number}").addClass('selected');
			$("#node_header_${node_header_active}").addClass("active");
		});
	</script>
</body>
</html>
[/#escape]